@import "styles/overrider";
@import "styles/mediaQueries";

.header {
  width: 80%;
  padding: 0.2em 0;
  background: #e1e1e1d1;
  border-radius: 2em;
  -webkit-box-shadow: 0 0 25px 9px rgba(207, 207, 207, 0.05);
  box-shadow: 0 0 25px 9px rgba(207, 207, 207, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 5em;


  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;


    li {
      position: relative;
      transition: 0.2s;


      button {
        border-radius: 50%;
        width: 2.4em;
        height: 2.4em;
        background-color: rgba(219, 188, 234, 0.16);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        &:hover, &:focus {
          box-shadow: 0 0 14px 1px rgba(232, 94, 232, 0.13);

        }

      }

      .clear {
        background-color: #ee4242;
        display: grid;
        position: absolute;
        bottom: 60%;
        left: 70%;
        padding: 0.3em;
        font-size: 0.8rem;
        font-weight: 700;
        cursor: pointer;
        place-items: center;
        border-radius: 9999px;
        transition: 0.2s;

        img {
          width: 1em;
          height: 1em;
          filter: invert(1);
        }

        &:hover{
          transform: scale(1.1);
          filter: brightness(0.9);
        }

        @include screen(lg){
          display: none;
        }
      }

      .itemInfo {
        background-color: rgba(234, 229, 234, 0.42);
        display: none;
        position: absolute;
        top: 175%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.2em 0.8em;
        font-size: 1.1rem;
        font-weight: 700;
        cursor: pointer;
        place-items: center;
        border-radius: 0.2em;
        transition: 0.2s;

        &:hover{
          transform: scale(1.1);
          filter: brightness(0.9);
        }

      }

      &:hover {
        .clear, .itemInfo {
          display: grid;

        }
      }
    }

  }

  .addButton{
    position: relative;
    transition: 0.2s;
    .itemInfo {
      background-color: rgba(234, 229, 234, 0.42);
      display: none;
      position: absolute;
      top: 110%;
      padding: 0.2em 0.8em;
      font-size: 1.1rem;
      font-weight: 700;
      cursor: pointer;
      border-radius: 0.2em;
      transition: 0.2s;
      width: 8em;

      &:hover{
        transform: scale(1.1);
        filter: brightness(0.9);
      }

    }

    &:hover {
      .itemInfo {
        display: flex;

      }
    }

  }

  @include override;
}