.input {
  background-color: transparent;
  border-radius: 0.2em;
  margin: 0.4em 0;
  font-size: 1em;
  padding: 0.3em 0.6em;
  transition: 0.2s;
  border: 2px solid #00a86a00;

  border-bottom: 2px solid #00a86b;

  &::placeholder {
    color: rgba(218, 218, 218, 0.85);
  }

  &:hover,
  &:focus {
    border: 2px solid #00a86b;

    box-shadow: 0 0 8px 1px #00a86b;
  }
}
