.modal {
  width: 30vw;
  height: 80vh;
  background-color: rgb(29, 29, 29);
  -webkit-box-shadow: 0px 0px 19px 3px #b3b3b3;
  box-shadow: 0 0 8px 1px #00a86b;
  border-radius: 0.2em;
  border: 1px solid #00a86b;
  position: fixed;
  top: -110%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  article {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;

    .closeButton {
      position: absolute;
      top: 1em;
      right: 1em;
      border-radius: 9999px;
      display: grid;
      place-items: center;

      img {
        filter: invert(1);
      }

      &:hover {
        transform: scale(1.1);
        opacity: (0.7);
        box-shadow: 0 0 8px 1px #00a86b;
      }
    }

    form {
      width: 80%;
      display: grid;
      margin-top: 4em;

      button {
        width: 100%;
        border-radius: 0.2em;
        display: grid;
        place-items: center;
        margin-top: 1em;
        border: 1px solid #00a86b;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 8px 1px #00a86b;

          filter: brightness(0.8);
        }
      }
    }
  }
}

.success {
  background-color: #00a86b;
  box-shadow: 0 0 1px 1px #00a86b;

  padding: 0.4em 2em;
  display: grid;
  place-items: center;
  border-radius: 0.2em;
  position: absolute;
  z-index: 400;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: default;
  transition: 0.8s;
}
